
.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbarLogo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}

.topRight {
    display: flex;
    align-items: center;
}

.topbarIconContainer {
    position: relative;
    cursor: pointer;
    height: 24px;
}

.topbarIconContainer + .topbarIconContainer {
    margin-left: 12px;
}

.topbarIconBadge {
    position: absolute;
    top: -7px;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
}

.topbarAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 12px;
}
